@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, coders!</h1>
<p>
    The purpose of this app is to demonstrate BlazorOdataClient.
</p>
<p>
    BlazorOdataClient is a one-line install, single razor component with two required parameters.
</p>
<p>
    The component removes the need for paging large amounts of data. The user experiences a contiguous
    list but in the background the client is making page calls to the OData client.
</p>
<p>
    Head to the <a href="/fetchdata">fetch data</a> page and take a look 👀
</p>



